table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.container {
  width: 300px;
  clear: both;
  margin: 100px;
}

.container input, .container select {
  width: 100%;
  clear: both;
}
